@mixin center(){
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}


html{
  width:100%;
  height: 100%;
}
body{
  background: -webkit-linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
  background: linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
.container{
  width:100%;
  position:absolute;
  @include center();
}
.title{
  margin: auto;
  width:800px;
  white-space: nowrap;
  font-weight: 800;
  color: transparent;
  font-size:220px;
  background: url("../image/galaxy.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  line-height:290px;
  letter-spacing: -8px;
}